@using EventSceneCoreAppliciation.Models
@model SeansEtkinlikSalonModel

@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">

            <h3>Seans Güncelle</h3>

            @using (Html.BeginForm("Guncelle", "Seans", FormMethod.Post, new { @class = "form-group" }))
            {
                @Html.TextBox("seansId",Model.seansModel.seansId,new { @class = "form-control" ,@type="hidden"})

                @Html.Label("Seans Süresi")
                @Html.TextBox("sure",Model.seansModel.sure,new { @class = "form-control" })
                @Html.ValidationMessage("sure",new { @class ="text-danger" })
                <br />

                @Html.Label("Seans Tarihi")
                @Html.TextBox("tarih",Model.seansModel.tarih,new { @class = "form-control" })
                @Html.ValidationMessage("tarih",new { @class ="text-danger" })
                <br />

                @Html.Label("Seans Saati")
                @Html.TextBox("saat",Model.seansModel.saat,new { @class = "form-control" })
                @Html.ValidationMessage("saat",new { @class ="text-danger" })
                <br />

                @Html.Label("Etkinlik Adı")
                <select name="etkinlikId" class="form-control">
                    @foreach (var item in Model.etkinlikModel)
                    {
                        @if (Model.seansModel.etkinlikId == item.etkinlikId)
                        {
                            <option value="@item.etkinlikId" selected>@item.etkinlikAd</option>
                        }
                        else
                        {
                            <option value="@item.etkinlikId">@item.etkinlikAd</option>
                        }
                    }
                </select>
                <br />

                @Html.Label("Açıklama")
                <select name="etkinlikId" class="form-control">
                    @foreach (var item in Model.etkinlikModel)
                    {
                        @if (Model.seansModel.etkinlikId == item.etkinlikId)
                        {
                            <option value="@item.etkinlikId" selected>@item.aciklama</option>
                        }
                        else
                        {
                            <option value="@item.etkinlikId">@item.aciklama</option>
                        }
                    }
                </select>
                <br />

                @Html.Label("Etkinlik Afişi")
                <select name="etkinlikId" class="form-control">
                    @foreach (var item in Model.etkinlikModel)
                    {
                        @if (Model.seansModel.etkinlikId == item.etkinlikId)
                        {
                            <option value="@item.etkinlikId" selected>@item.etkinlikAfis</option>
                        }
                        else
                        {
                            <option value="@item.etkinlikId">@item.etkinlikAfis</option>
                        }
                    }
                </select>
                <br />

                @Html.Label("Salon Adı")
                <select name="salonId" class="form-control">
                    @foreach (var item in Model.salonModel)
                    {
                        @if (Model.seansModel.salonId == item.salonId)
                        {
                            <option value="@item.salonId" selected>@item.salonAd</option>
                        }
                        else
                        {
                            <option value="@item.salonId">@item.salonAd</option>
                        }
                    }
                </select>
                <br />

                @Html.Label("Salon Kapasitesi")
                <select name="salonId" class="form-control">
                    @foreach (var item in Model.salonModel)
                    {
                        @if (Model.seansModel.salonId == item.salonId)
                        {
                            <option value="@item.salonId" selected>@item.kapasite</option>
                        }
                        else
                        {
                            <option value="@item.salonId">@item.kapasite</option>
                        }
                    }
                </select>
                <br />

                @Html.Label("Durum")
                <select class="form-control" name="silindi">
                    @if (Model.seansModel.silindi)
                    {
                        <option value="False">Aktif</option>
                        <option value="True" selected>Pasif</option>
                    }
                    else
                    {
                        <option value="False" selected>Pasif</option>
                        <option value="True">Aktif</option>
                    }
                </select>
                <br />

                <input class="form-control btn btn-primary" type="submit" value="Seans Güncelle" />
            }
        </div>
    </div>
</div>