@using EntityLayer
@model Tur

@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">

            <h3>Tür Güncelle</h3>

            @using (Html.BeginForm("Guncelle", "Tur", FormMethod.Post, new { @class = "form-group" }))
            {
                @Html.TextBox("turId",Model.turId,new { @class = "form-control" ,@type="hidden"})

                @Html.Label("Tür Adı")
                @Html.TextBox("turAd",Model.turAd,new { @class = "form-control"})
                @Html.ValidationMessage("turAd",new { @class ="text-danger" })
                <br />
   
                @Html.Label("Durum")
                <select class="form-control" name="silindi">
                    @if (Model.silindi)
                    {
                        <option value="False">Aktif</option>
                        <option value="True" selected>Pasif</option>
                    }
                    else
                    {
                        <option value="False" selected>Aktif</option>
                        <option value="True">Pasif</option>
                    }
                </select>
                <br />

                <input class="form-control btn btn-primary" type="submit" value="Tür Güncelle" />
            }
        </div>
    </div>
</div>