@using EventSceneCoreAppliciation.Models
@model EtkinlikTurModel

@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">

            <h3>Etkinlik Ekle</h3>

            @using (Html.BeginForm("Ekle", "Etkinlik", FormMethod.Post, new { @class = "form-group" }))
            {
                @Html.Label("Etkinlik Adı")
                @Html.TextBox("etkinlikAd","",new { @class = "form-control" })
                @Html.ValidationMessage("etkinlikAd",new { @class ="text-danger" })
                <br />

                @Html.Label("Etkinlik Açıklama")
                @Html.TextBox("aciklama","",new { @class = "form-control" })
                @Html.ValidationMessage("aciklama",new { @class ="text-danger" })
                <br />

                @Html.Label("Etkinlik Afiş")
                @Html.TextBox("etkinlikAfis","",new { @class = "form-control",@type="file" })
                <br />

                @Html.Label("Tür")
                <select name="turId" class="form-control">
                    @foreach (var item in Model.turModel)
                    {
                        <option value="@item.turId">@item.turAd</option>
                    }
                </select>
                <br />

                @Html.Label("Durum")
                <select class="form-control" name="silindi">
                    <option value="False">Aktif</option>
                    <option value="True">Pasif</option>
                </select>
                <br />

                <input class="form-control btn btn-primary" type="submit" value="Etkinlik Ekle" />
            }
        </div>
    </div>
</div>