@using EventSceneCoreAppliciation.Models;
@model EtkinlikTurModel
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">
            <h3>Etkinlik Güncelle</h3>
            @using (Html.BeginForm("Guncelle", "Etkinlik", FormMethod.Post, new { @class = "form-group" }))
            {
                @Html.TextBox("etkinlikId","",new { @class = "form-control",@name="etkinlikId",@value="@Model.etkinlikId",@type="hidden"})
                @Html.Label("Etkinlik Adı")

                @Html.TextBox("etkinlikAd","",new { @class = "form-control",@name="etkinlikAd",@value="@Model.etkimlikAd" })
                @Html.ValidationMessage("etkinlikAd",new { @class ="text-danger" })
                <br />
                @Html.Label("Etkinlik Açıklaması")
                @Html.TextBox("aciklama","",new { @class = "form-control",@name="acıklama",@value="@Model.aciklama" })
                @Html.ValidationMessage("aciklama",new { @class ="text-danger" })
                <br />
                @Html.Label("Etkinlik Afişi")
                @Html.TextBox("etkinlikAfis","",new { @class = "form-control", @type="file", @name="etkinlikAfis",@value="@Model.etkinlikAfis" })
                @Html.ValidationMessage("etkinlikAfis",new { @class ="text-danger" })
                <br />
                @Html.Label("Durum")
                <select class="form-control" name="silindi">
                    <option selected>True</option>
                    <option>False</option>
                </select>
                <br />
                <input class="form-control btn btn-primary" type="submit" value="Etkinlik Güncelle" />
            }
        </div>
    </div>
</div>
