@using EntityLayer;
@model Etkinlik
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-11 grid-margin stretch-card border border-primary" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; margin-left:30px; margin-top:30px;">
    <div class="p-2 border border-primary">
    <h3>Etkinlik Güncelle</h3>
        @using (Html.BeginForm("Guncelle", "Etkinlik", FormMethod.Post, new { @class = "form-group border border-primary" }))
    {
        @Html.TextBoxFor(etkinlik=>etkinlik.etkinlikId,new { @class = "form-control",@name="etkinlikId",@value="@Model.etkinlikId",@type="hidden"})
        @Html.Label("Etkinlik Adı")

        @Html.TextBoxFor(etkinlik=>etkinlik.etkinlikAd,new { @class = "form-control",@name="etkinlikAd",@value="@Model.etkimlikAd" })
        @Html.ValidationMessageFor(etkinlik=>etkinlik.etkinlikAd,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Etkinlik Açıklamamsı")
        @Html.TextBoxFor(etkinlik=>etkinlik.aciklama,new { @class = "form-control",@name="acıklama",@value="@Model.aciklama" })
        @Html.ValidationMessageFor(etkinlik=>etkinlik.aciklama,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Etkinlik Afişi")
        @Html.TextBoxFor(etkinlik=>etkinlik.etkinlikAfis,new { @class = "form-control",@name="etkinlikAfis",@value="@Model.etkinlikAfis" })
        @Html.ValidationMessageFor(etkinlik=>etkinlik.etkinlikAfis,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Durum")
        <select class="form-control" name="silindi">
            if (Model.silindi)
            {
            <option selected>True</option>
            <option>False</option>
            }
            else
            {
            <option>True</option>
            <option selected>False</option>
            }
        </select>
        <br />
        <input class="form-control btn btn-primary" type="submit" value="Etkinlik Güncelle" />
    }
</div>
</div>
