@using EventSceneCoreAppliciation.Models
@model EtkinlikTurModel

@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">

            <h3>Etkinlik Güncelle</h3>

            @using (Html.BeginForm("Guncelle", "Etkinlik", FormMethod.Post, new { @class = "form-group" }))
            {
                @Html.TextBox("etkinlikId",Model.etkinlikModel.etkinlikId,new { @class = "form-control" ,@type="hidden"})
                
                @Html.Label("Etkinlik Adı")
                @Html.TextBox("etkinlikAd",Model.etkinlikModel.etkinlikAd,new { @class = "form-control"})
                @Html.ValidationMessage("etkinlikAd",new { @class ="text-danger" })
                <br />

                @Html.Label("Etkinlik Açıklaması")
                @Html.TextBox("aciklama",Model.etkinlikModel.aciklama,new { @class = "form-control"})
                @Html.ValidationMessage("aciklama",new { @class ="text-danger" })
                <br />

                @Html.Label("Etkinlik Afişi")
                @Html.TextBox("etkinlikAfis",Model.etkinlikModel.etkinlikAfis,new { @class = "form-control",@type="file"})
                @Html.ValidationMessage("etkinlikAfis",new { @class ="text-danger" })
                <br />

                @Html.Label("Tür")
                <select name="turId" class="form-control">
                    @foreach (var item in Model.turModel)
                    {
                        @if (Model.etkinlikModel.turId == item.turId)
                        {
                            <option value="@item.turId" selected>@item.turAd</option>
                        }
                        else
                        {
                            <option value="@item.turId">@item.turAd</option>
                        }
                    }
                </select>
                <br />

                @Html.Label("Durum")
                <select class="form-control" name="silindi">
                    @if (Model.etkinlikModel.silindi)
                    {
                        <option value="False">Aktif</option>
                        <option value="True" selected>Pasif</option>
                    }
                    else
                    {
                        <option value="False" selected>Pasif</option>
                        <option value="True">Aktif</option>
                    }
                </select>
                <br />

                <input class="form-control btn btn-primary" type="submit" value="Etkinlik Güncelle" />
            }
        </div>
    </div>
</div>