@using EntityLayer
@model Slider

@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">

            <h3>Slider Ekle</h3>

            @using (Html.BeginForm("Ekle", "Slider", FormMethod.Post, new { @class = "form-group" }))
            {
                @Html.Label("Slider Adı")
                @Html.TextBox("sliderName","",new { @class = "form-control" })
                @Html.ValidationMessage("sliderName",new { @class ="text-danger" })
                <br />

                @Html.Label("Slider Resim Url")
                @Html.TextBox("resimUrl","",new { @class = "form-control" })
                @Html.ValidationMessage("resimUrl",new { @class ="text-danger" })
                <br />

                @Html.Label("Durum")
                <select class="form-control" name="silindi">
                    <option value="False">Aktif</option>
                    <option value="True">Pasif</option>
                </select>
                <br />

                <input class="form-control btn btn-primary" type="submit" value="Slider Ekle" />
            }
        </div>
    </div>
</div>