@using EntityLayer
@model Kullanici

@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">

            <h3>Kullanıcı Ekle</h3>

            @using (Html.BeginForm("Ekle", "Kullanici", FormMethod.Post, new { @class = "form-group" }))
            {
                @Html.Label("Kullanıcı Adı")
                @Html.TextBox("kullaniciAd","",new { @class = "form-control" })
                @Html.ValidationMessage("kullaniciAd",new { @class ="text-danger" })
                <br />

                @Html.Label("Kullanıcı Şifresi")
                @Html.TextBox("kullaniciSifre","",new { @class = "form-control" })
                @Html.ValidationMessage("kullaniciSifre",new { @class ="text-danger" })
                <br />

                @Html.Label("Kullanıcı Tc No")
                @Html.TextBox("kullaniciTc","",new { @class = "form-control" })
                @Html.ValidationMessage("kullaniciTc",new { @class ="text-danger" })
                <br />

                @Html.Label("Kullanıcı Tel No")
                @Html.TextBox("kullaniciTel","",new { @class = "form-control" })
                @Html.ValidationMessage("kullaniciTel",new { @class ="text-danger" })
                <br />

                @Html.Label("Kullanıcı Maili")
                @Html.TextBox("kullaniciMail","",new { @class = "form-control" })
                @Html.ValidationMessage("kullaniciMail",new { @class ="text-danger" })
                <br />

                @Html.Label("Kullanıcı Doğum Tarihi")
                @Html.TextBox("dogumTarihi","",new { @class = "form-control" })
                @Html.ValidationMessage("dogumTarihi",new { @class ="text-danger" })
                <br />

                @Html.Label("Durum")
                <select class="form-control" name="silindi">
                    <option value="False">Aktif</option>
                    <option value="True">Pasif</option>
                </select>
                <br />

                <input class="form-control btn btn-primary" type="submit" value="Kullanıcı Ekle" />
            }
        </div>
    </div>
</div>