@using EventSceneCoreAppliciation.Models
@model BiletSeansKullaniciModel

@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">

            <h3>Bilet Ekle</h3>

            @using (Html.BeginForm("Ekle", "Bilet", FormMethod.Post, new { @class = "form-group" }))
            {
                @Html.Label("Seyirci Adı")
                @Html.TextBox("seyirciAd","",new { @class = "form-control" })
                @Html.ValidationMessage("seyirciAd",new { @class ="text-danger" })
                <br />

                @Html.Label("Seyirci Soyadı")
                @Html.TextBox("seyirciSoyad","",new { @class = "form-control" })
                @Html.ValidationMessage("seyirciSoyad",new { @class ="text-danger" })
                <br />

                @Html.Label("Seyirci Tc No")
                @Html.TextBox("seyirciTc","",new { @class = "form-control" })
                @Html.ValidationMessage("seyirciTc",new { @class ="text-danger" })
                <br />

                @Html.Label("Seyirci Türü")
                @Html.TextBox("seyirciTur","",new { @class = "form-control" })
                @Html.ValidationMessage("seyirciTur",new { @class ="text-danger" })
                <br />

                @Html.Label("Bilet Fiyatı")
                @Html.TextBox("fiyat","",new { @class = "form-control" })
                @Html.ValidationMessage("fiyat",new { @class ="text-danger" })
                <br />

                @Html.Label("Seri No")
                @Html.TextBox("seriNo","",new { @class = "form-control" })
                @Html.ValidationMessage("seriNo",new { @class ="text-danger" })
                <br />

                @Html.Label("Ödeme Tipi")
                <select class="form-control" name="odemeTipi">
                    <option value="False">Kredi Kartı</option>
                    <option value="True">Nakit</option>
                </select>
                <br />

                @Html.Label("Bilet Kesim Tarihi")
                @Html.TextBox("biletKesimTarihi","",new { @class = "form-control" })
                @Html.ValidationMessage("biletKesimTarihi",new { @class ="text-danger" })
                <br />

                @Html.Label("Seans Süresi")
                <select name="seansId" class="form-control">
                    @foreach (var item in Model.seansModel)
                    {
                        <option value="@item.seansId">@item.sure</option>
                    }
                </select>
                <br />

                @Html.Label("Seans Tarihi")
                <select name="seansId" class="form-control">
                    @foreach (var item in Model.seansModel)
                    {
                        <option value="@item.seansId">@item.tarih</option>
                    }
                </select>
                <br />

                @Html.Label("Seans Saati")
                <select name="seansId" class="form-control">
                    @foreach (var item in Model.seansModel)
                    {
                        <option value="@item.seansId">@item.saat</option>
                    }
                </select>
                <br />

                @Html.Label("Kullanıcı Adı")
                <select name="kullaniciId" class="form-control">
                    @foreach (var item in Model.kullaniciModel)
                    {
                        <option value="@item.kullaniciId">@item.kullaniciAd</option>
                    }
                </select>
                <br />

                @Html.Label("Durum")
                <select class="form-control" name="silindi">
                    <option value="False">Aktif</option>
                    <option value="True">Pasif</option>
                </select>
                <br />

                <input class="form-control btn btn-primary" type="submit" value="Bilet Ekle" />
            }
        </div>
    </div>
</div>