@using EntityLayer
@using EventSceneCoreAppliciation.Models
@model BiletSeansSeyirciModel

@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">

            <h3>Bilet Güncelle</h3>

            @using (Html.BeginForm("Guncelle", "Bilet", FormMethod.Post, new { @class = "form-group" }))
            {
                @Html.TextBox("biletId",Model.biletModel.biletId,new { @class = "form-control",@type="hidden" })

                @Html.Label("Seri No")
                @Html.TextBox("seriNo",Model.biletModel.seriNo,new { @class = "form-control" })
                @Html.ValidationMessage("seriNo",new { @class ="text-danger" })
                <br />

                @Html.Label("Ödeme Tipi")
                <select class="form-control" name="odemeTipi">
                    <option selected>True</option>
                    <option>False</option>
                </select>
                <br />

                @Html.Label("Bilet Kesim Tarihi")
                @Html.TextBox("biletKesimTarihi",Model.biletModel.biletKesimTarihi,new { @class = "form-control" })
                @Html.ValidationMessage("biletKesimTarihi",new { @class ="text-danger" })
                <br />

                @Html.Label("Seyirci Adı")
                <select class="form-control" name="seyirciId">
                    @foreach (var item in Model.seyirciModel)
                    {
                        if (item.seyirciId == Model.biletModel.seyirciId)
                        {
                            <option value="@item.seyirciId" selected>@item.seyirciAd</option>
                        }
                        else
                        {
                            <option value="@item.seyirciId">@item.seyirciAd</option>
                        }
                    }
                </select>
                <br />

                @Html.Label("Seyirci Soyadı")
                <select class="form-control" name="seyirciId">
                    @foreach (var item in Model.seyirciModel)
                    {
                        if (item.seyirciId == Model.biletModel.seyirciId)
                        {
                            <option value="@item.seyirciId" selected>@item.seyirciSoyad</option>
                        }
                        else
                        {
                            <option value="@item.seyirciId">@item.seyirciSoyad</option>
                        }
                    }
                </select>
                <br />

                @Html.Label("Seyirci Tc")
                <select class="form-control" name="seyirciId">
                    @foreach (var item in Model.seyirciModel)
                    {
                        if (item.seyirciId == Model.biletModel.seyirciId)
                        {
                            <option value="@item.seyirciId" selected>@item.seyirciTc</option>
                        }
                        else
                        {
                            <option value="@item.seyirciId">@item.seyirciTc</option>
                        }
                    }
                </select>
                <br />

                @Html.Label("Durum")
                <select class="form-control" name="silindi">
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
                <br />

                <input class="form-control btn btn-primary" type="submit" value="Bilet Güncelle" />
            }
        </div>
    </div>
</div>