@using EventSceneCoreAppliciation.Models
@model BiletSeansKullaniciModel

@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">

            <h3>Bilet Güncelle</h3>

            @using (Html.BeginForm("Guncelle", "Bilet", FormMethod.Post, new { @class = "form-group" }))
            {
                @Html.TextBox("biletId",Model.biletModel.biletId,new { @class = "form-control" ,@type="hidden"})

                @Html.Label("Seyirci Adı")
                @Html.TextBox("seyirciAd",Model.biletModel.seyirciAd,new { @class = "form-control" })
                @Html.ValidationMessage("seyirciAd",new { @class ="text-danger" })
                <br />

                @Html.Label("Seyirci Soyadı")
                @Html.TextBox("seyirciSoyad",Model.biletModel.seyirciSoyad,new { @class = "form-control" })
                @Html.ValidationMessage("seyirciSoyad",new { @class ="text-danger" })
                <br />

                @Html.Label("Seyirci Tc No")
                @Html.TextBox("seyirciTc",Model.biletModel.seyirciTc,new { @class = "form-control" })
                @Html.ValidationMessage("seyirciTc",new { @class ="text-danger" })
                <br />

                @Html.Label("Seyirci Türü")
                @Html.TextBox("seyirciTur",Model.biletModel.seyirciTur,new { @class = "form-control" })
                @Html.ValidationMessage("seyirciTur",new { @class ="text-danger" })
                <br />

                @Html.Label("Bilet Fiyatı")
                @Html.TextBox("fiyat",Model.biletModel.fiyat,new { @class = "form-control" })
                @Html.ValidationMessage("fiyat",new { @class ="text-danger" })
                <br />

                @Html.Label("Seri No")
                @Html.TextBox("seriNo",Model.biletModel.seriNo,new { @class = "form-control" })
                @Html.ValidationMessage("seriNo",new { @class ="text-danger" })
                <br />

                @Html.Label("Ödeme Tipi")
                <select name="odemeTipi" class="form-control">
                    @if (Model.biletModel.odemeTipi)
                    {
                        <option value="@Model.biletModel.odemeTipi" selected>@Model.biletModel.odemeTipi</option>
                    }
                    else
                    {
                        <option value="@Model.biletModel.odemeTipi">@Model.biletModel.odemeTipi</option>
                    }
                    }
                </select>
                <br />

                @Html.Label("Bilet Kesim Tarihi")
                @Html.TextBox("biletKesimTarihi",Model.biletModel.biletKesimTarihi,new { @class = "form-control" })
                @Html.ValidationMessage("biletKesimTarihi",new { @class ="text-danger" })
                <br />

                @Html.Label("Seans Süresi")
                <select name="seansId" class="form-control">
                    @foreach (var item in Model.seansModel)
                    {
                        @if (Model.biletModel.seansId == item.seansId)
                        {
                            <option value="@item.seansId" selected>@item.sure</option>
                        }
                        else
                        {
                            <option value="@item.seansId">@item.sure</option>
                        }
                    }
                </select>
                <br />

                @Html.Label("Seans Tarihi")
                <select name="seansId" class="form-control">
                    @foreach (var item in Model.seansModel)
                    {
                        @if (Model.biletModel.seansId == item.seansId)
                        {
                            <option value="@item.seansId" selected>@item.tarih</option>
                        }
                        else
                        {
                            <option value="@item.seansId">@item.tarih</option>
                        }
                    }
                </select>
                <br />

                @Html.Label("Seans Saati")
                <select name="seansId" class="form-control">
                    @foreach (var item in Model.seansModel)
                    {
                        @if (Model.biletModel.seansId == item.seansId)
                        {
                            <option value="@item.seansId" selected>@item.saat</option>
                        }
                        else
                        {
                            <option value="@item.seansId">@item.saat</option>
                        }
                    }
                </select>
                <br />

                @Html.Label("Kullanıcı Adı")
                <select name="kullaniciId" class="form-control">
                    @foreach (var item in Model.kullaniciModel)
                    {
                        @if (Model.biletModel.kullaniciId == item.kullaniciId)
                        {
                            <option value="@item.kullaniciId" selected>@item.kullaniciAd</option>
                        }
                        else
                        {
                            <option value="@item.kullaniciId">@item.kullaniciAd</option>
                        }
                    }
                </select>
                <br />

                @Html.Label("Durum")
                <select class="form-control" name="silindi">
                    @if (Model.biletModel.silindi)
                    {
                        <option value="False">Aktif</option>
                        <option value="True" selected>Pasif</option>
                    }
                    else
                    {
                        <option value="False" selected>Pasif</option>
                        <option value="True">Aktif</option>
                    }
                </select>
                <br />

                <input class="form-control btn btn-primary" type="submit" value="Bilet Güncelle" />
            }
        </div>
    </div>
</div>