@using EntityLayer
@model Salon

@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">

            <h3>Salon Güncelle</h3>

            @using (Html.BeginForm("Guncelle", "Salon", FormMethod.Post, new { @class = "form-group" }))
            {
                @Html.TextBox("salonId","",new { @class = "form-control", @name="salonId", @value="@Model.salonId", @type="hidden" })

                @Html.Label("Salon Adı")
                @Html.TextBox("salonAd","",new { @class = "form-control", @name="salonAd", @value="@Model.salonAd" })
                @Html.ValidationMessage("salonAd","",new { @class ="text-danger" })
                <br />

                @Html.Label("Salon Kapasitesi")
                @Html.TextBox("salonKapasite","",new { @class = "form-control", @name="salonKapasite", @value="@Model.salonKapasite"})
                @Html.ValidationMessage("salonKapasite","",new { @class ="text-danger" })
                <br />

                @Html.Label("Durum")
                <select class="form-control" name="silindi">
                    <option value="False">False</option>
                    <option value="True">True</option>
                </select>
                <br />

                <input class="form-control btn btn-primary" type="submit" value="Salon Güncelle" />
            }
        </div>
    </div>
</div>