@using EntityLayer;
@model Salon
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-11 grid-margin stretch-card" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; margin-left:30px; margin-top:30px;">

<div class="p-2">
    <h3>Salon Güncelle</h3>
    @using (Html.BeginForm("Guncelle", "Salon", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.TextBoxFor(salon=>salon.salonId,new { @class = "form-control",@name="firmaId",@value="@Model.firmaId",@type="hidden"})
        @Html.Label("Salon Adı")

        @Html.TextBoxFor(salon=>salon.salonAd,new { @class = "form-control",@name="firmaAd",@value="@Model.firmaAd" })
        @Html.ValidationMessageFor(salon=>salon.salonAd,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Salon Kapasitesi")
        @Html.TextBoxFor(etkinlik=>etkinlik.kapasite,new { @class = "form-control",@name="iletisim",@value="@Model.iletisim" })
        @Html.ValidationMessageFor(etkinlik=>etkinlik.kapasite,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Durum")
         <select class="form-control" name="silindi">
            <option value="False">False</option>
            <option value="True">True</option>
         </select>
         <br />

        <input class="form-control btn btn-primary" type="submit" value="Salon Güncelle" />
    }
</div>
</div>