@using EntityLayer;
@model Salon
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">
    <h3>Salon Güncelle</h3>
    @using (Html.BeginForm("Guncelle", "Salon", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.TextBoxFor(salon=>salon.salonId,new { @class = "form-control",@name="firmaId",@value="@Model.firmaId",@type="hidden"})
        @Html.Label("Salon Adı")

        @Html.TextBoxFor(salon=>salon.salonAd,new { @class = "form-control",@name="firmaAd",@value="@Model.firmaAd" })
        @Html.ValidationMessageFor(salon=>salon.salonAd,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Salon Kapasitesi")
        @Html.TextBoxFor(etkinlik=>etkinlik.kapasite,new { @class = "form-control",@name="iletisim",@value="@Model.iletisim" })
        @Html.ValidationMessageFor(etkinlik=>etkinlik.kapasite,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Durum")
         <select class="form-control" name="silindi">
            <option value="False">False</option>
            <option value="True">True</option>
         </select>
         <br />

        <input class="form-control btn btn-primary" type="submit" value="Salon Güncelle" />
    }
</div>
</div>
</div>